RewriteEngine On

# Admin klasoru
RewriteCond %{REQUEST_URI} ^/admin/
RewriteRule ^admin/(.*)$ admin/index.php?route=$1 [QSA,L]

# index.php ve diger dosyalar
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Dizinler
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

#geri kalan herseyi index.php'ye
RewriteCond %{REQUEST_URI} !^/admin/
RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]

<IfModule mod_php7.c>
    php_value upload_max_filesize 128M
    php_value post_max_size 128M
</IfModule>
